# Beyond-The-Headlines-Exploring-Insights-From-Stocks
#### <font color="gray"> Group 19 (Stockbusters): Brigid Sax, Delvin Eluvathingal, Nan Liu, Navneeth Oruganti, Rakshanda Hedawoo, Saketh Gangavaram, Sumedh Tirodkar </font>

## <font color="blue"> Introduction and Summary:
The COVID-19 pandemic is a one off global event. It has sent shockwaves to economies across the globe. Similarly, other global crises have affected the market in ways that were previously unforeseen. In this project, we aim to perform an in-depth analysis of the impact of the COVID-19 pandemic, as well as global crises such as the Ukraine War, on the performance of the top 5 stocks within four sectors that were severely affected by the crisis. The four sectors we are focusing on are Tech, Pharma, Telecom and FMCG (Fast moving consumer goods) and only on US stocks for this. This analysis is pivotal in understanding how economic crises impact stock performance and the broader financial markets. The study will be conducted in a Jupyter Notebook environment using statistical models and is expected to span a duration of 40-45 days.

In a more specific sense, creating these analyses may help us provide contextual and researched advice to investors that may want to invest in major stocks, but want to minimize risk. There is no way to accurately predict how stocks will perform, particularly in a crisis, but our analysis can help inform those who plan to invest in these sectors how to handle their investments in the event of any type of crisis that introduces great risk.

In order to analyze stock performance throughout the pandemic and through the Ukraine War, we are pulling stock data from October 2019 to the current date. We will be taking a closer look at these dates listed below in order to hone in on the impacts from these specific events:

##### Lockdown 1 :- March 2020 to July 2020 <br>
##### Lockdown 2 (Omicron):- November 2021 to February 2022 <br>
##### Ukraine War :- 24 February 2022 to till date

Our research endeavors to address the following key questions:  
● What were the variations in the price movements of the top 5 stocks in the Tech, Pharma, Telecom and FMCG sectors most adversely affected by major world events like COVID-19 pandemic and the Ukraine-Russia war?  
● Can we discern the factors acting as headwinds (Negative impact due to the pandemic and the Ukraine war) and tailwinds (positive benefits due to thsee same events) affecting these sectors during the crisis?  
● How is the performance of the top 5 stocks in the Tech, Pharma, Telecom and FMCG sectors related to the overall global economic indicators and trends?  
● How severe is the change that the Tech, Pharma, Telecom and FMCG sectors have gone through, related to one off global events?

We expect to gain valuable insights from our research on how different sectors and individual stocks responded to the impacts of the pandemic and the war. Our analysis aims to reveal patterns that show which sectors and stocks demonstrated resilience in the face of these external shocks and which ones proved vulnerable. Additionally, we will identify potential indicators that could predict how these sectors would react, whether in advance or with a delay. We plan to validate these patterns across various timeframes, depending on the results of our initial exploratory analysis. Ultimately, our findings are intended to offer important insights into how external shocks affect financial markets. These insights will serve as a valuable resource for investors and policymakers, helping them make more informed decisions in response to such events.
##### FMCG: The majority of supermarkets and retail chains were closed during lockdown, which was anticipated to cause a dramatic decline in the share price.
##### PHARMA: By the time COVID was in place, many pharma companies were already working on vaccines. During the second lockdown, vaccine development had advanced, and so this sector will respond the quickest of all the sectors.
##### TECH: It took some time for them to comprehend that the price of digital goods would rise so they didn't hire immediately, but eventually the tech stocks did rise.
##### TELECOM: The lockdown caused these sectors to perform well once 5G was released to the public due to the increased demand for data and high speeds owing to the lockdown.
EDA to be done to infer more insights by digging deeper into our findings from the data.  
We anticipate a potential significant decline in the FMCG (Fast-Moving Consumer Goods) stocks, while pharmaceutical stocks may have experienced an extraordinary surge. We intend to substantiate this hypothesis by analyzing the patterns that emerged during the lockdown period and exploring other prevalent trends both before and after the lockdown.

## <font color="blue"> Milestones and Progress

### Our original milestones from our proposal up until this date include:

#### Data Collection and Preprocessing 10/19 <font color="green"> (Completed)
###### ● Data Gathering 10/15
###### ● Figuring out the Libraries required 10/15
###### ● Data Cleaning 10/18
###### ● Data Merging 10/19
#### Data Transformation 10/26 <font color="green"> (Completed)
###### ● Index calculation 10/23
###### ● Dataset creation 10/26
#### Data Analysis and Visualization 11/22 <font color="blue"> (In Progress)
###### ● Analysis 1 - Impact of pandemic on stock prices 10/31 <font color="green"> (Completed)
###### ● Creating Visualization for analysis 1 11/01 <font color="green"> (Completed)
###### ● Analysis 2 - Factors for Headwinds and Tailwinds 11/07 <font color="red"> (Incomplete)  
###### ● Creating Visualization for analysis 2 11/08 <font color="red"> (Incomplete)
#### Compiling Project Update 11/09 <font color="green"> (Completed)
#### Submit Project Update 11/10 <font color="green"> (Completed)
    
### Explanation
    
Currently, we have not met all of our milestones that we set in our proposal. This is due to the fact that we had a difficult time merging the datasets, as we ended up having to pull index data from a different site than our stock data. Now that we have all of the data, it will be much easier to create our analyses. In order to catch up, we plan to complete our final two visualizations simultaneously, rather than during different spans of time. 
    
In order to complete our next steps, we need to do research on visualizations that are interesting and easy for readers to interpret. Because our topic is so complex, we need to make sure that our presentation of the data is not boring or useless to those who do not understand stock data.

## <font color="blue"> Data Acquisition and Cleaning Code
So far, we have been able to collect all of our data from Yahoo Finance (stocks) and MarketWatch (global indexes), and merge them together, as well as clean before creating our index values for each stock.  
We first had to concatenate the stock data together, then the indexes before merging both to create a hierarchically indexed dataframe. We cleaned the data by reformatting the date/time index in order to match them up for the merging of the indexes and stocks. In this case, we do not need to replace missing values as they are useful in our analysis and indicate that the stock market was closed on that day.
# <font color="red"> SOMEONE PLEASE EXPLAIN INDEXES HERE

### Import Statements
We will be using pandas in order to create our data frames.

In [1]:
# importing Pandas library
import pandas as pd

### Loading the data sets into the Jupyter Notebook
Each individual stock or global index data frame is created with previously downloaded csv files. Since it is a csv file, we separate based on a comma and because we want to look at the change over time, we are using the column 'Date' as our index.

In [6]:
# defining the file path. Change this according to your local system where you have placed your "DataFiles" folder containing the data tables
file_path = '/Users/sumedh/Desktop/UMCP/SEM1/BUDT704 Data Processing aand Analysis in Python/Project/DataFiles/'

In [50]:
dfAAPL = pd.read_csv(file_path + 'AAPL.csv', delimiter = ',', index_col = 'Date')

dfAMZN = pd.read_csv(file_path + 'AMZN.csv', delimiter = ',', index_col = 'Date')

dfBMY = pd.read_csv(file_path + 'BMY.csv', delimiter = ',', index_col = 'Date')

dfCHTR = pd.read_csv(file_path + 'CHTR.csv', delimiter = ',', index_col = 'Date')

dfCL = pd.read_csv(file_path + 'CL.csv', delimiter = ',', index_col = 'Date')

dfCMCSA = pd.read_csv(file_path + 'CMCSA.csv', delimiter = ',', index_col = 'Date')

dfGOOG = pd.read_csv(file_path + 'GOOG.csv', delimiter = ',', index_col = 'Date')

dfJNJ = pd.read_csv(file_path + 'JNJ.csv', delimiter = ',', index_col = 'Date')

dfKO = pd.read_csv(file_path + 'KO.csv', delimiter = ',', index_col = 'Date')

dfLLY = pd.read_csv(file_path + 'LLY.csv', delimiter = ',', index_col = 'Date')

dfMETA = pd.read_csv(file_path + 'META.csv', delimiter = ',', index_col = 'Date')

dfMRK = pd.read_csv(file_path + 'MRK.csv', delimiter = ',', index_col = 'Date')

dfMSFT = pd.read_csv(file_path + 'MSFT.csv', delimiter = ',', index_col = 'Date')

dfPEP = pd.read_csv(file_path + 'PEP.csv', delimiter = ',', index_col = 'Date')

dfPFE = pd.read_csv(file_path + 'PFE.csv', delimiter = ',', index_col = 'Date')

dfPG = pd.read_csv(file_path + 'PG.csv', delimiter = ',', index_col = 'Date')

dfT = pd.read_csv(file_path + 'T.csv', delimiter = ',', index_col = 'Date')

dfTMUS = pd.read_csv(file_path + 'TMUS.csv', delimiter = ',', index_col = 'Date')

dfVZ = pd.read_csv(file_path + 'VZ.csv', delimiter = ',', index_col = 'Date')

dfWMT = pd.read_csv(file_path + 'WMT.csv', delimiter = ',', index_col = 'Date')

df500_19 = pd.read_csv(file_path + 'INDEX_US_S&P US_SPX_Oct19-20.csv', delimiter = ',')

df500_20 = pd.read_csv(file_path + 'INDEX_US_S&P US_SPX_Oct20-21.csv', delimiter = ',')

df500_21 = pd.read_csv(file_path + 'INDEX_US_S&P US_SPX_Oct21-22.csv', delimiter = ',')

df500_22 = pd.read_csv(file_path + 'INDEX_US_S&P US_SPX_Oct22-23.csv', delimiter = ',')

dfDow_19 = pd.read_csv(file_path + 'INDEX_US_DOW JONES GLOBAL_DJIA_Oct19-20.csv', delimiter = ',')

dfDow_20 = pd.read_csv(file_path + 'INDEX_US_DOW JONES GLOBAL_DJIA_Oct20-21.csv', delimiter = ',')

dfDow_21 = pd.read_csv(file_path + 'INDEX_US_DOW JONES GLOBAL_DJIA_Oct21-22.csv', delimiter = ',')

dfDow_22 = pd.read_csv(file_path + 'INDEX_US_DOW JONES GLOBAL_DJIA_Oct22-23.csv', delimiter = ',')

## Concatenating Indexes
Because every single dataframe has the same named columns, we need to concatenate these dataframes and use keys in order to hierarchically index the different columns for each stock or index.  
  
For our global index dataframes (S&P 500 and dow Jones), their data came in a format that included commas to indicate the number was in thousands. However, this did not match the data from the stocks, so we replaced each value that had a comma with nothing, and converted the values to floats so we could later do analysis on them.

Again for our global index dataframes, we set the index to be the date, whil for our stocks dataframe, we used an inner join in order to concatenate on the date index for each stock (so there is only one date index).

In [35]:
df500 = pd.concat([df500_22,df500_21,df500_20,df500_19])
df500.set_index('Date',inplace=True)

df500 = df500.apply(lambda value: value.str.replace(',','').astype(float))

In [36]:
dfDow = pd.concat([dfDow_22,dfDow_21,dfDow_20,dfDow_19])
dfDow.set_index('Date',inplace=True)

dfDow = dfDow.apply(lambda value: value.str.replace(',','').astype(float))

In [37]:
dfStocks = pd.concat((dfAAPL, dfAMZN, dfBMY, dfCHTR, dfCL, dfCMCSA, dfGOOG, dfJNJ, dfKO, dfLLY, dfMETA, dfMRK, dfMSFT, dfPEP, dfPFE, dfPG, dfT, dfTMUS, dfVZ, dfWMT), join = 'inner', keys = ['AAPL', 'AMZN', 'BMY', 'CHTR', 'CL', 'CMCSA', 'GOOG', 'JNJ', 'KO', 'LLY', 'META', 'MRK', 'MSFT', 'PEP', 'PFE', 'PG', 'T', 'TMUS', 'VZ', 'WMT'], axis = 1)

## Merging Dataset
Next, we merged all three datasets. First, we concatenated the two global indexes, once again, so that we could hierarchically index them, regardless of the fact that they have the same column names. We did an inner join on the date index so that there was only one date index.

In [40]:
dfIndexes = pd.concat((df500, dfDow), join ='inner', keys=['S&P500', 'DJIA30'],axis=1)

In [41]:
dfIndexes.head()

             S&P500                               DJIA30                      \
               Open     High      Low    Close      Open      High       Low
Date
10/24/2023  4235.79  4259.38  4219.43  4247.68  33089.64  33272.19  32988.43
10/23/2023  4210.40  4255.84  4189.22  4217.04  32993.02  33234.85  32892.19
10/20/2023  4273.85  4276.56  4223.03  4224.16  33365.27  33425.77  33118.12
10/19/2023  4321.36  4339.54  4269.69  4278.00  33669.52  33852.39  33368.58
10/18/2023  4357.35  4364.20  4303.84  4314.60  33960.25  33991.51  33598.64


               Close
Date
10/24/2023  33141.38
10/23/2023  32936.41
10/20/2023  33127.28
10/19/2023  33414.17
10/18/2023  33665.08

### Change DateTime Format
Before merging the stocks data and the indexes data, we needed to make sure that the datetime format matched up. The global indexes dataframe had a date index in month/day/year format, and we needed to convert this to year-month-date format, in order to make it the same as the stocks index.

In [42]:
dfIndexes.index = dfIndexes.index.map(lambda d: pd.to_datetime(d).strftime('%Y-%m-%d'))

### Rounding Values
The values in the index dataframe were rounded to 2 decimal points, so we are doing the same thing to the stocks dataframe in order to help us with our analysis later.

In [43]:
dfStocks = dfStocks.round(2)
dfStocks.head()

             AAPL                                             AMZN         \
             Open   High    Low  Close Adj Close     Volume   Open   High
Date
2019-10-24  61.13  61.20  60.45  60.90     59.23   69275200  88.55  89.42
2019-10-25  60.79  61.68  60.72  61.64     59.96   73477200  84.88  88.21
2019-10-28  61.86  62.31  61.68  62.26     60.56   96572800  87.40  88.93
2019-10-29  62.24  62.44  60.64  60.82     59.16  142839600  88.74  88.85
2019-10-30  61.19  61.33  60.30  60.81     59.15  124522000  88.01  89.12

                          ...     VZ                                WMT  \
              Low  Close  ...    Low  Close Adj Close    Volume    Open
Date                      ...
2019-10-24  88.01  89.04  ...  60.41  60.58     49.04  11143800  119.15
2019-10-25  84.75  88.07  ...  59.21  60.37     48.87  15036400  119.00
2019-10-28  87.12  88.85  ...  60.04  60.18     48.72  14621400  119.25
2019-10-29  87.79  88.14  ...  60.07  60.19     48.73  10619900  118.50
2019-10-30  87.96  89.00  ...  60.41  60.82     49.24  12136500  117.18


              High     Low   Close Adj Close   Volume
Date
2019-10-24  119.57  118.51  119.10    111.73  2900300
2019-10-25  119.33  118.20  119.04    111.68  2564300
2019-10-28  119.70  118.53  119.22    111.85  3404600
2019-10-29  118.73  117.08  117.15    109.91  4791100
2019-10-30  118.37  117.05  118.10    110.80  2996200

[5 rows x 120 columns]

### Final Merge!
Finally, we merged the stocks dataframe and the global indexes dataframe on their, now the same, date index. The dataset is hierarchically indexed and we can see each column for each stock or index.

In [44]:
dataset = dfStocks.join(dfIndexes)
dataset = pd.merge(dfStocks, dfIndexes, on = 'Date', how ='inner')

In [45]:
dataset

              AAPL                                                 AMZN  \
              Open    High     Low   Close Adj Close     Volume    Open
Date
2019-10-24   61.13   61.20   60.45   60.90     59.23   69275200   88.55
2019-10-25   60.79   61.68   60.72   61.64     59.96   73477200   84.88
2019-10-28   61.86   62.31   61.68   62.26     60.56   96572800   87.40
2019-10-29   62.24   62.44   60.64   60.82     59.16  142839600   88.74
2019-10-30   61.19   61.33   60.30   60.81     59.15  124522000   88.01
...            ...     ...     ...     ...       ...        ...     ...
2023-10-16  176.75  179.08  176.51  178.72    178.72   52517000  130.69
2023-10-17  176.65  178.42  174.80  177.15    177.15   57549400  130.39
2023-10-18  175.58  177.58  175.11  175.84    175.84   54764400  129.90
2023-10-19  176.04  177.84  175.19  175.46    175.46   59302900  130.57
2023-10-20  175.31  175.42  172.64  172.88    172.88   64189300  128.05

                                    ...       WMT            S&P500           \
              High     Low   Close  ... Adj Close   Volume     Open     High
Date                                ...
2019-10-24   89.42   88.01   89.04  ...    111.73  2900300  3014.78  3016.07
2019-10-25   88.21   84.75   88.07  ...    111.68  2564300  3003.32  3027.39
2019-10-28   88.93   87.12   88.85  ...    111.85  3404600  3032.12  3044.08
2019-10-29   88.85   87.79   88.14  ...    109.91  4791100  3035.39  3047.87
2019-10-30   89.12   87.96   89.00  ...    110.80  2996200  3039.74  3050.10
...            ...     ...     ...  ...       ...      ...      ...      ...
2023-10-16  133.07  130.43  132.55  ...    161.21  4782700  4342.37  4383.33
2023-10-17  132.58  128.71  131.47  ...    161.42  3631000  4345.23  4393.57
2023-10-18  130.67  127.51  128.13  ...    161.54  3519700  4357.35  4364.20
2023-10-19  132.24  127.47  128.40  ...    160.77  3915300  4321.36  4339.54
2023-10-20  128.17  124.97  125.17  ...    158.76  5018900  4273.85  4276.56

                                DJIA30
                Low    Close      Open      High       Low     Close
Date
2019-10-24  3000.42  3010.29  26893.93  26931.78  26714.34  26805.53
2019-10-25  3001.94  3022.55  26789.61  27015.37  26765.68  26958.06
2019-10-28  3032.12  3039.42  27040.33  27167.88  27028.71  27090.72
2019-10-29  3034.81  3036.89  27061.07  27165.94  27039.76  27071.42
2019-10-30  3025.96  3046.77  27110.71  27204.36  26999.64  27186.69
...             ...      ...       ...       ...       ...       ...
2023-10-16  4342.37  4373.63  33832.42  34088.98  33832.42  33984.54
2023-10-17  4337.54  4373.20  33869.84  34147.63  33854.70  33997.65
2023-10-18  4303.84  4314.60  33960.25  33991.51  33598.64  33665.08
2023-10-19  4269.69  4278.00  33669.52  33852.39  33368.58  33414.17
2023-10-20  4223.03  4224.16  33365.27  33425.77  33118.12  33127.28

[1005 rows x 128 columns]

# Data Processing
## Calculating relative indexes of each sector

In [46]:
def get_stock_index(df,stock_name):
    if stock_name == 'Tech':
        tech_stock_df = pd.concat((df.AAPL.Close,df.AMZN.Close,df.GOOG.Close,df.META.Close,df.MSFT.Close,df['S&P500'].Close),join = 'inner',keys=['AAPL','AMZN','GOOG','META','MSFT','S&P500'],axis=1)
        tech_stock_df['TechIndex'] = 0.2*tech_stock_df.AAPL+0.2*tech_stock_df.AMZN+0.2*tech_stock_df.GOOG+0.2*tech_stock_df.META+0.2*tech_stock_df.MSFT
        return tech_stock_df
    elif stock_name == 'Pharma':
        pharma_stock_df = pd.concat((dataset.JNJ.Close,dataset.PFE.Close,dataset.MRK.Close,dataset.BMY.Close,dataset.LLY.Close,df['S&P500'].Close),join = 'inner',keys=['JNJ','PFE','MRK','BMY','LLY'],axis=1)
        pharma_stock_df['PharmaIndex'] = 0.2*pharma_stock_df.JNJ+0.2*pharma_stock_df.PFE+0.2*pharma_stock_df.MRK+0.2*pharma_stock_df.BMY+0.2*pharma_stock_df.LLY
        return pharma_stock_df
    elif stock_name == 'Telecom':
        telecom_stock_df = pd.concat((dataset['T'].Close,dataset.VZ.Close,dataset.TMUS.Close,dataset.CMCSA.Close,dataset.CHTR.Close,df['S&P500'].Close),join = 'inner',keys=['T','VZ','TMUS','CMCSA','CHTR'],axis=1)
        telecom_stock_df['TelecomIndex'] = 0.2*telecom_stock_df['T']+0.2*telecom_stock_df.VZ+0.2*telecom_stock_df.TMUS+0.2*telecom_stock_df.CMCSA+0.2*telecom_stock_df.CHTR
        return telecom_stock_df
    elif stock_name == 'FMCG':
        fmcg_stock_df = pd.concat((dataset.PG.Close,dataset.KO.Close,dataset.PEP.Close,dataset.WMT.Close,dataset.CL.Close,df['S&P500'].Close),join = 'inner',keys=['PG','KO','PEP','WMT','CL'],axis=1)
        fmcg_stock_df['FMCGIndex'] = 0.2*fmcg_stock_df.PG+0.2*fmcg_stock_df.KO+0.2*fmcg_stock_df.PEP+0.2*fmcg_stock_df.WMT+0.2*fmcg_stock_df.CL
        return fmcg_stock_df
    else:
        return NULL

Calculating relative index for tech stock

In [47]:
tech_stock_df = get_stock_index(dataset,'Tech')
tech_stock_df.head()

             AAPL   AMZN   GOOG    META    MSFT   S&P500  TechIndex
Date
2019-10-24  60.90  89.04  63.05  186.38  139.94  3010.29    107.862
2019-10-25  61.64  88.07  63.26  187.89  140.73  3022.55    108.318
2019-10-28  62.26  88.85  64.50  189.40  144.19  3039.42    109.840
2019-10-29  60.82  88.14  63.13  189.31  142.83  3036.89    108.846
2019-10-30  60.81  89.00  63.06  188.25  144.61  3046.77    109.146

# Calculating Global Reindex

In [48]:
def get_global_reindex(df):
    df['GlobalReindex'] = 0.0
    for i in range(0,len(tech_stock_df)):
        if i==0:
            df['GlobalReindex'][i]  = df['S&P500'][0].astype(float)
        else:
            df['GlobalReindex'][i] = (df['GlobalReindex'][i-1] * df['S&P500'][i].astype(float))/df['S&P500'][i-1].astype(float)
    return df
get_global_reindex(tech_stock_df)

,AAPL,AMZN,GOOG,META,MSFT,S&P500,TechIndex,GlobalReindex
Date,,,,,,,,
2019-10-24,60.90,89.04,63.05,186.38,139.94,3010.29,107.862,3010.29
2019-10-25,61.64,88.07,63.26,187.89,140.73,3022.55,108.318,3022.55
2019-10-28,62.26,88.85,64.50,189.40,144.19,3039.42,109.840,3039.42
2019-10-29,60.82,88.14,63.13,189.31,142.83,3036.89,108.846,3036.89
2019-10-30,60.81,89.00,63.06,188.25,144.61,3046.77,109.146,3046.77
...,...,...,...,...,...,...,...,...
2023-10-16,178.72,132.55,140.49,321.15,332.64,4373.63,221.110,4373.63
2023-10-17,177.15,131.47,140.99,324.00,332.06,4373.20,221.134,4373.20
2023-10-18,175.84,128.13,139.28,316.97,330.11,4314.60,218.066,4314.60
2023-10-19,175.46,128.40,138.98,312.81,331.32,4278.00,217.394,4278.00
2023-10-20,172.88,125.17,136.74,308.65,326.67,4224.16,214.022,4224.16

# Analysis 1: Impact of pandemic on stock prices
## Lockdown Phase I

In [49]:
# Dataset creation for Time period: March 2020- July 2020
lockdown1_dataset = dataset.loc['2020-03-01':'2020-07-31']

#creating indexes
lockdown1_techstock = get_stock_index(lockdown1_dataset,'Tech')
lockdown1_techstock = get_stock_index(lockdown1_dataset,'Pharma')
lockdown1_techstock = get_stock_index(lockdown1_dataset,'Telecom')
lockdown1_techstock = get_stock_index(lockdown1_dataset,'FMCG')

#creating global reindexes