# Beyond-The-Headlines-Exploring-Insights-From-Stocks
#### <font color="gray"> Group 19 (Stockbusters): Brigid Sax, Delvin Eluvathingal, Nan Liu, Navneeth Oruganti, Rakshanda Hedawoo, Saketh Gangavaram, Sumedh Tirodkar </font>

### Introduction and Summary:
##### The covid-19 pandemic is a one off global event. It has sent shockwaves to economies across the globe. In this project, we aim to perform an in-depth analysis of the impact of the COVID-19 pandemic on the performance of the top 5 stocks within four sectors that were severely affected by the crisis. The four sectors we are focusing on are Tech, Pharma, Telecom and FMCG (Fast moving consumer goods) and only on US stocks for this. This analysis is pivotal in understanding how economic crises impact stock performance and the broader financial markets. The study will be conducted in a Jupyter Notebook environment using statistical models and is expected to span a duration of 40-45 days.

Lockdown 1 :- March 2020 to July 2020 <br>
Lockdown 2 (Omicron):- November 2021 to February 2022 <br>
Ukraine War :- 24 February 2022 to till date

### Import Statements

In [1]:
# importing Pandas library
import pandas as pd

### Loading the data sets into the Jupyter Notebook

In [2]:
# defining the file path. Change this according to your local system where you have placed your "DataFiles" folder containing the data tables
file_path = '/Users/sumedh/Desktop/UMCP/SEM1/BUDT704 Data Processing aand Analysis in Python/Project/DataFiles/'

In [3]:
dfAAPL = pd.read_csv(file_path + 'AAPL.csv', delimiter = ',', index_col = 'Date')

In [4]:
dfAMZN = pd.read_csv(file_path + 'AMZN.csv', delimiter = ',', index_col = 'Date')

In [5]:
dfBMY = pd.read_csv(file_path + 'BMY.csv', delimiter = ',', index_col = 'Date')

In [6]:
dfCHTR = pd.read_csv(file_path + 'CHTR.csv', delimiter = ',', index_col = 'Date')

In [7]:
dfCL = pd.read_csv(file_path + 'CL.csv', delimiter = ',', index_col = 'Date')

In [8]:
dfCMCSA = pd.read_csv(file_path + 'CMCSA.csv', delimiter = ',', index_col = 'Date')

In [9]:
dfGOOG = pd.read_csv(file_path + 'GOOG.csv', delimiter = ',', index_col = 'Date')

In [10]:
dfJNJ = pd.read_csv(file_path + 'JNJ.csv', delimiter = ',', index_col = 'Date')

In [11]:
dfKO = pd.read_csv(file_path + 'KO.csv', delimiter = ',', index_col = 'Date')

In [12]:
dfLLY = pd.read_csv(file_path + 'LLY.csv', delimiter = ',', index_col = 'Date')

In [13]:
dfMETA = pd.read_csv(file_path + 'META.csv', delimiter = ',', index_col = 'Date')

In [14]:
dfMRK = pd.read_csv(file_path + 'MRK.csv', delimiter = ',', index_col = 'Date')

In [15]:
dfMSFT = pd.read_csv(file_path + 'MSFT.csv', delimiter = ',', index_col = 'Date')

In [16]:
dfPEP = pd.read_csv(file_path + 'PEP.csv', delimiter = ',', index_col = 'Date')

In [17]:
dfPFE = pd.read_csv(file_path + 'PFE.csv', delimiter = ',', index_col = 'Date')

In [18]:
dfPG = pd.read_csv(file_path + 'PG.csv', delimiter = ',', index_col = 'Date')

In [19]:
dfT = pd.read_csv(file_path + 'T.csv', delimiter = ',', index_col = 'Date')

In [20]:
dfTMUS = pd.read_csv(file_path + 'TMUS.csv', delimiter = ',', index_col = 'Date')

In [21]:
dfVZ = pd.read_csv(file_path + 'VZ.csv', delimiter = ',', index_col = 'Date')

In [22]:
dfWMT = pd.read_csv(file_path + 'WMT.csv', delimiter = ',', index_col = 'Date')

In [29]:
df500_19 = pd.read_csv(file_path + 'INDEX_US_S&P US_SPX_Oct19-20.csv', delimiter = ',')

In [30]:
df500_20 = pd.read_csv(file_path + 'INDEX_US_S&P US_SPX_Oct20-21.csv', delimiter = ',')

In [31]:
df500_21 = pd.read_csv(file_path + 'INDEX_US_S&P US_SPX_Oct21-22.csv', delimiter = ',')

In [32]:
df500_22 = pd.read_csv(file_path + 'INDEX_US_S&P US_SPX_Oct22-23.csv', delimiter = ',')

In [33]:
dfDow_19 = pd.read_csv(file_path + 'INDEX_US_DOW JONES GLOBAL_DJIA_Oct19-20.csv', delimiter = ',')

In [34]:
dfDow_20 = pd.read_csv(file_path + 'INDEX_US_DOW JONES GLOBAL_DJIA_Oct20-21.csv', delimiter = ',')

In [35]:
dfDow_21 = pd.read_csv(file_path + 'INDEX_US_DOW JONES GLOBAL_DJIA_Oct21-22.csv', delimiter = ',')

In [36]:
dfDow_22 = pd.read_csv(file_path + 'INDEX_US_DOW JONES GLOBAL_DJIA_Oct22-23.csv', delimiter = ',')

## Concatenating Indexes

In [37]:
df500 = pd.concat([df500_22,df500_21,df500_20,df500_19])
df500.set_index('Date',inplace=True)

In [38]:
dfDow = pd.concat([dfDow_22,dfDow_21,dfDow_20,dfDow_19])
dfDow.set_index('Date',inplace=True)

## Merging Dataset

In [39]:
dfIndexes = pd.merge(df500, dfDow, on = 'Date', how ='inner', suffixes=('_500', '_Dow'))

In [40]:
dfIndexes = pd.concat((df500, dfDow), join ='inner', keys=['S&P500', 'DJIA30'],axis=1)

In [41]:
dfIndexes.index = dfIndexes.index.map(lambda d: pd.to_datetime(d).strftime('%Y-%m-%d'))
dfIndexes

              S&P500                                   DJIA30             \
                Open      High       Low     Close       Open       High
Date
2023-10-24  4,235.79  4,259.38  4,219.43  4,247.68  33,089.64  33,272.19
2023-10-23  4,210.40  4,255.84  4,189.22  4,217.04  32,993.02  33,234.85
2023-10-20  4,273.85  4,276.56  4,223.03  4,224.16  33,365.27  33,425.77
2023-10-19  4,321.36  4,339.54  4,269.69  4,278.00  33,669.52  33,852.39
2023-10-18  4,357.35  4,364.20  4,303.84  4,314.60  33,960.25  33,991.51
...              ...       ...       ...       ...        ...        ...
2019-10-30  3,039.74  3,050.10  3,025.96  3,046.77  27,110.71  27,204.36
2019-10-29  3,035.39  3,047.87  3,034.81  3,036.89  27,061.07  27,165.94
2019-10-28  3,032.12  3,044.08  3,032.12  3,039.42  27,040.33  27,167.88
2019-10-25  3,003.32  3,027.39  3,001.94  3,022.55  26,789.61  27,015.37
2019-10-24  3,014.78  3,016.07  3,000.42  3,010.29  26,893.93  26,931.78


                  Low      Close
Date
2023-10-24  32,988.43  33,141.38
2023-10-23  32,892.19  32,936.41
2023-10-20  33,118.12  33,127.28
2023-10-19  33,368.58  33,414.17
2023-10-18  33,598.64  33,665.08
...               ...        ...
2019-10-30  26,999.64  27,186.69
2019-10-29  27,039.76  27,071.42
2019-10-28  27,028.71  27,090.72
2019-10-25  26,765.68  26,958.06
2019-10-24  26,714.34  26,805.53

[1007 rows x 8 columns]

In [42]:
dfStocks = pd.concat((dfAAPL, dfAMZN, dfBMY, dfCHTR, dfCL, dfCMCSA, dfGOOG, dfJNJ, dfKO, dfLLY, dfMETA, dfMRK, dfMSFT, dfPEP, dfPFE, dfPG, dfT, dfTMUS, dfVZ, dfWMT), join = 'inner', keys = ['AAPL', 'AMZN', 'BMY', 'CHTR', 'CL', 'CMCSA', 'GOOG', 'JNJ', 'KO', 'LLY', 'META', 'MRK', 'MSFT', 'PEP', 'PFE', 'PG', 'T', 'TMUS', 'VZ', 'WMT'], axis = 1)

In [43]:
dfStocks.head()

                 AAPL                                                         \
                 Open       High        Low      Close  Adj Close     Volume
Date
2019-10-24  61.127499  61.200001  60.452499  60.895000  59.226208   69275200
2019-10-25  60.790001  61.682499  60.720001  61.645000  59.955658   73477200
2019-10-28  61.855000  62.312500  61.680000  62.262501  60.556232   96572800
2019-10-29  62.242500  62.437500  60.642502  60.822498  59.155693  142839600
2019-10-30  61.189999  61.325001  60.302502  60.814999  59.148388  124522000

                 AMZN                                   ...         VZ  \
                 Open       High        Low      Close  ...        Low
Date                                                    ...
2019-10-24  88.554497  89.417000  88.013496  89.039001  ...  60.410000
2019-10-25  84.877502  88.210503  84.750000  88.066498  ...  59.209999
2019-10-28  87.403000  88.934998  87.125000  88.853996  ...  60.040001
2019-10-29  88.740501  88.849998  87.790497  88.135498  ...  60.070000
2019-10-30  88.012001  89.119003  87.956001  88.999496  ...  60.410000

                                                   WMT              \
                Close  Adj Close    Volume        Open        High
Date
2019-10-24  60.580002  49.041088  11143800  119.150002  119.570000
2019-10-25  60.369999  48.871086  15036400  119.000000  119.330002
2019-10-28  60.180000  48.717274  14621400  119.250000  119.699997
2019-10-29  60.189999  48.725368  10619900  118.500000  118.730003
2019-10-30  60.820000  49.235371  12136500  117.180000  118.370003


                   Low       Close   Adj Close   Volume
Date
2019-10-24  118.510002  119.099998  111.734749  2900300
2019-10-25  118.199997  119.040001  111.678444  2564300
2019-10-28  118.529999  119.220001  111.847305  3404600
2019-10-29  117.080002  117.150002  109.905312  4791100
2019-10-30  117.050003  118.099998  110.796585  2996200

[5 rows x 120 columns]

In [44]:
dataset = dfStocks.join(dfIndexes)
dataset = pd.merge(dfStocks, dfIndexes, on = 'Date', how ='inner')

In [45]:
dataset.head()

                 AAPL                                                         \
                 Open       High        Low      Close  Adj Close     Volume
Date
2019-10-24  61.127499  61.200001  60.452499  60.895000  59.226208   69275200
2019-10-25  60.790001  61.682499  60.720001  61.645000  59.955658   73477200
2019-10-28  61.855000  62.312500  61.680000  62.262501  60.556232   96572800
2019-10-29  62.242500  62.437500  60.642502  60.822498  59.155693  142839600
2019-10-30  61.189999  61.325001  60.302502  60.814999  59.148388  124522000

                 AMZN                                   ...         WMT  \
                 Open       High        Low      Close  ...   Adj Close
Date                                                    ...
2019-10-24  88.554497  89.417000  88.013496  89.039001  ...  111.734749
2019-10-25  84.877502  88.210503  84.750000  88.066498  ...  111.678444
2019-10-28  87.403000  88.934998  87.125000  88.853996  ...  111.847305
2019-10-29  88.740501  88.849998  87.790497  88.135498  ...  109.905312
2019-10-30  88.012001  89.119003  87.956001  88.999496  ...  110.796585

                       S&P500                                   DJIA30  \
             Volume      Open      High       Low     Close       Open
Date
2019-10-24  2900300  3,014.78  3,016.07  3,000.42  3,010.29  26,893.93
2019-10-25  2564300  3,003.32  3,027.39  3,001.94  3,022.55  26,789.61
2019-10-28  3404600  3,032.12  3,044.08  3,032.12  3,039.42  27,040.33
2019-10-29  4791100  3,035.39  3,047.87  3,034.81  3,036.89  27,061.07
2019-10-30  2996200  3,039.74  3,050.10  3,025.96  3,046.77  27,110.71


                 High        Low      Close
Date
2019-10-24  26,931.78  26,714.34  26,805.53
2019-10-25  27,015.37  26,765.68  26,958.06
2019-10-28  27,167.88  27,028.71  27,090.72
2019-10-29  27,165.94  27,039.76  27,071.42
2019-10-30  27,204.36  26,999.64  27,186.69

[5 rows x 128 columns]

# Data Processing
## Calculating relative indexes of each sector

Calculating relative index for tech stock

In [46]:
tech_stock_df = pd.concat((dataset.AAPL.Close,dataset.AMZN.Close,dataset.GOOG.Close,dataset.META.Close,dataset.MSFT.Close),join = 'inner',keys=['APPL','AMZN','GOOG','META','MSFT'],axis=1)
tech_stock_df['TechIndex'] = 0.2*tech_stock_df.APPL+0.2*tech_stock_df.AMZN+0.2*tech_stock_df.GOOG+0.2*tech_stock_df.META+0.2*tech_stock_df.MSFT
tech_stock_df.head()

,APPL,AMZN,GOOG,META,MSFT,TechIndex
Date,,,,,,
2019-10-24,60.895000,89.039001,63.049500,186.380005,139.940002,107.860702
2019-10-25,61.645000,88.066498,63.256500,187.889999,140.729996,108.317599
2019-10-28,62.262501,88.853996,64.500000,189.399994,144.190002,109.841299
2019-10-29,60.822498,88.135498,63.131001,189.309998,142.830002,108.845799
2019-10-30,60.814999,88.999496,63.064499,188.250000,144.610001,109.147799

Calculating relative index for pharma stock

In [47]:
pharma_stock_df = pd.concat((dataset.JNJ.Close,dataset.PFE.Close,dataset.MRK.Close,dataset.BMY.Close,dataset.LLY.Close),join = 'inner',keys=['JNJ','PFE','MRK','BMY','LLY'],axis=1)
pharma_stock_df['PharmaIndex'] = 0.2*pharma_stock_df.JNJ+0.2*pharma_stock_df.PFE+0.2*pharma_stock_df.MRK+0.2*pharma_stock_df.BMY+0.2*pharma_stock_df.LLY
pharma_stock_df.head()

,JNJ,PFE,MRK,BMY,LLY,PharmaIndex
Date,,,,,,
2019-10-24,127.500000,34.525616,78.797707,54.369999,107.839996,80.606664
2019-10-25,128.350006,34.886147,78.492363,54.980000,110.199997,81.381703
2019-10-28,129.179993,35.370018,78.435112,55.590000,112.989998,82.313024
2019-10-29,129.119995,36.252373,81.202293,55.770000,111.669998,82.802932
2019-10-30,132.839996,36.508537,82.270988,56.869999,112.720001,84.241904

Calculating relative index for telecom stock

In [48]:
telecom_stock_df = pd.concat((dataset['T'].Close,dataset.VZ.Close,dataset.TMUS.Close,dataset.CMCSA.Close,dataset.CHTR.Close),join = 'inner',keys=['T','VZ','TMUS','CMCSA','CHTR'],axis=1)
telecom_stock_df['TelecomIndex'] = 0.2*telecom_stock_df['T']+0.2*telecom_stock_df.VZ+0.2*telecom_stock_df.TMUS+0.2*telecom_stock_df.CMCSA+0.2*telecom_stock_df.CHTR
telecom_stock_df.head()

,T,VZ,TMUS,CMCSA,CHTR,TelecomIndex
Date,,,,,,
2019-10-24,27.809668,60.580002,81.480003,44.840000,435.070007,129.955936
2019-10-25,27.877644,60.369999,81.620003,45.650002,462.190002,135.541530
2019-10-28,29.070997,60.180000,82.389999,45.439999,467.089996,136.834198
2019-10-29,28.746223,60.189999,81.769997,45.349998,464.070007,136.025245
2019-10-30,28.851965,60.820000,83.269997,44.689999,468.779999,137.282392

Calculating relative index for FMCG stock

In [49]:
fmcg_stock_df = pd.concat((dataset.PG.Close,dataset.KO.Close,dataset.PEP.Close,dataset.WMT.Close,dataset.CL.Close),join = 'inner',keys=['PG','KO','PEP','WMT','CL'],axis=1)
fmcg_stock_df['FMCGIndex'] = 0.2*fmcg_stock_df.PG+0.2*fmcg_stock_df.KO+0.2*fmcg_stock_df.PEP+0.2*fmcg_stock_df.WMT+0.2*fmcg_stock_df.CL
fmcg_stock_df.head()

,PG,KO,PEP,WMT,CL,FMCGIndex
Date,,,,,,
2019-10-24,124.790001,54.610001,137.889999,119.099998,68.339996,100.945999
2019-10-25,123.250000,53.750000,136.639999,119.040001,68.410004,100.218001
2019-10-28,123.480003,53.570000,136.570007,119.220001,67.349998,100.038002
2019-10-29,123.599998,53.410000,136.080002,117.150002,67.919998,99.632000
2019-10-30,124.940002,53.939999,136.899994,118.099998,68.580002,100.491999