# Beyond-The-Headlines-Exploring-Insights-From-Stocks
#### <font color="gray"> Group 19 (Stockbusters): Brigid Sax, Delvin Eluvathingal, Nan Liu, Navneeth Oruganti, Rakshanda Hedawoo, Saketh Gangavaram, Sumedh Tirodkar </font>

### Introduction and Summary:
##### The covid-19 pandemic is a one off global event. It has sent shockwaves to economies across the globe. In this project, we aim to perform an in-depth analysis of the impact of the COVID-19 pandemic on the performance of the top 5 stocks within four sectors that were severely affected by the crisis. The four sectors we are focusing on are Tech, Pharma, Telecom and FMCG (Fast moving consumer goods) and only on US stocks for this. This analysis is pivotal in understanding how economic crises impact stock performance and the broader financial markets. The study will be conducted in a Jupyter Notebook environment using statistical models and is expected to span a duration of 40-45 days.

Lockdown 1 :- March 2020 to July 2020 <br>
Lockdown 2 (Omicron):- November 2021 to February 2022 <br>
Ukraine War :- 24 February 2022 to till date

### Import Statements

In [1]:
# importing Pandas library
import pandas as pd

### Loading the data sets into the Jupyter Notebook

In [3]:
# defining the file path. Change this according to your local system where you have placed your "DataFiles" folder containing the data tables
file_path = ''

In [47]:
dfAAPL = pd.read_csv(file_path + 'AAPL.csv', delimiter = ',', index_col = 'Date')

              Open    High     Low   Close  Adj Close     Volume
Date
2019-10-23   60.53   60.81   60.30   60.79      59.13   75828800
2019-10-24   61.13   61.20   60.45   60.90      59.23   69275200
2019-10-25   60.79   61.68   60.72   61.64      59.96   73477200
2019-10-28   61.86   62.31   61.68   62.26      60.56   96572800
2019-10-29   62.24   62.44   60.64   60.82      59.16  142839600
...            ...     ...     ...     ...        ...        ...
2023-10-16  176.75  179.08  176.51  178.72     178.72   52517000
2023-10-17  176.65  178.42  174.80  177.15     177.15   57549400
2023-10-18  175.58  177.58  175.11  175.84     175.84   54764400
2023-10-19  176.04  177.84  175.19  175.46     175.46   59302900
2023-10-20  175.31  175.42  172.64  172.88     172.88   64189300

[1006 rows x 6 columns]

In [5]:
dfAMZN = pd.read_csv(file_path + 'AMZN.csv', delimiter = ',', index_col = 'Date')

In [6]:
dfBMY = pd.read_csv(file_path + 'BMY.csv', delimiter = ',', index_col = 'Date')

In [7]:
dfCHTR = pd.read_csv(file_path + 'CHTR.csv', delimiter = ',', index_col = 'Date')

In [8]:
dfCL = pd.read_csv(file_path + 'CL.csv', delimiter = ',', index_col = 'Date')

In [9]:
dfCMCSA = pd.read_csv(file_path + 'CMCSA.csv', delimiter = ',', index_col = 'Date')

In [10]:
dfGOOG = pd.read_csv(file_path + 'GOOG.csv', delimiter = ',', index_col = 'Date')

In [11]:
dfJNJ = pd.read_csv(file_path + 'JNJ.csv', delimiter = ',', index_col = 'Date')

In [12]:
dfKO = pd.read_csv(file_path + 'KO.csv', delimiter = ',', index_col = 'Date')

In [13]:
dfLLY = pd.read_csv(file_path + 'LLY.csv', delimiter = ',', index_col = 'Date')

In [14]:
dfMETA = pd.read_csv(file_path + 'META.csv', delimiter = ',', index_col = 'Date')

In [15]:
dfMRK = pd.read_csv(file_path + 'MRK.csv', delimiter = ',', index_col = 'Date')

In [16]:
dfMSFT = pd.read_csv(file_path + 'MSFT.csv', delimiter = ',', index_col = 'Date')

In [17]:
dfPEP = pd.read_csv(file_path + 'PEP.csv', delimiter = ',', index_col = 'Date')

In [18]:
dfPFE = pd.read_csv(file_path + 'PFE.csv', delimiter = ',', index_col = 'Date')

In [19]:
dfPG = pd.read_csv(file_path + 'PG.csv', delimiter = ',', index_col = 'Date')

In [20]:
dfT = pd.read_csv(file_path + 'T.csv', delimiter = ',', index_col = 'Date')

In [21]:
dfTMUS = pd.read_csv(file_path + 'TMUS.csv', delimiter = ',', index_col = 'Date')

In [22]:
dfVZ = pd.read_csv(file_path + 'VZ.csv', delimiter = ',', index_col = 'Date')

In [23]:
dfWMT = pd.read_csv(file_path + 'WMT.csv', delimiter = ',', index_col = 'Date')

In [24]:
df500_19 = pd.read_csv(file_path + 'INDEX_US_S&P US_SPX_Oct19-20.csv', delimiter = ',')

In [25]:
df500_20 = pd.read_csv(file_path + 'INDEX_US_S&P US_SPX_Oct20-21.csv', delimiter = ',')

In [26]:
df500_21 = pd.read_csv(file_path + 'INDEX_US_S&P US_SPX_Oct21-22.csv', delimiter = ',')

In [27]:
df500_22 = pd.read_csv(file_path + 'INDEX_US_S&P US_SPX_Oct22-23.csv', delimiter = ',')

In [28]:
dfDow_19 = pd.read_csv(file_path + 'INDEX_US_DOW JONES GLOBAL_DJIA_Oct19-20.csv', delimiter = ',')

In [29]:
dfDow_20 = pd.read_csv(file_path + 'INDEX_US_DOW JONES GLOBAL_DJIA_Oct20-21.csv', delimiter = ',')

In [30]:
dfDow_21 = pd.read_csv(file_path + 'INDEX_US_DOW JONES GLOBAL_DJIA_Oct21-22.csv', delimiter = ',')

In [31]:
dfDow_22 = pd.read_csv(file_path + 'INDEX_US_DOW JONES GLOBAL_DJIA_Oct22-23.csv', delimiter = ',')

## Concatenating Indexes

In [32]:
df500 = pd.concat([df500_22,df500_21,df500_20,df500_19])
df500.set_index('Date',inplace=True)

In [33]:
dfDow = pd.concat([dfDow_22,dfDow_21,dfDow_20,dfDow_19])
dfDow.set_index('Date',inplace=True)

## Merging Dataset

In [68]:
dfIndexes = pd.merge(df500, dfDow, on = 'Date', how ='inner', suffixes=('_500', '_Dow'))

In [69]:
dfIndexes = pd.concat((df500, dfDow), join ='inner', keys=['S&P500', 'DJIA30'],axis=1)

In [70]:
dfIndexes.head()

              S&P500                                   DJIA30             \
                Open      High       Low     Close       Open       High
Date
10/24/2023  4,235.79  4,259.38  4,219.43  4,247.68  33,089.64  33,272.19
10/23/2023  4,210.40  4,255.84  4,189.22  4,217.04  32,993.02  33,234.85
10/20/2023  4,273.85  4,276.56  4,223.03  4,224.16  33,365.27  33,425.77
10/19/2023  4,321.36  4,339.54  4,269.69  4,278.00  33,669.52  33,852.39
10/18/2023  4,357.35  4,364.20  4,303.84  4,314.60  33,960.25  33,991.51


                  Low      Close
Date
10/24/2023  32,988.43  33,141.38
10/23/2023  32,892.19  32,936.41
10/20/2023  33,118.12  33,127.28
10/19/2023  33,368.58  33,414.17
10/18/2023  33,598.64  33,665.08

In [76]:
#need to work on this : convert str to float
dfIndexes.index = dfIndexes.index.map(lambda d: pd.to_datetime(d).strftime('%Y-%m-%d'))
dfIndexes = dfIndexes.apply(lambda index: index.str.replace(',','').astype(float))
dfIndexes.head()

ParserError: Unknown string format: S&P500 present at position 0

dfStocks = pd.concat((dfAAPL, dfAMZN, dfBMY, dfCHTR, dfCL, dfCMCSA, dfGOOG, dfJNJ, dfKO, dfLLY, dfMETA, dfMRK, dfMSFT, dfPEP, dfPFE, dfPG, dfT, dfTMUS, dfVZ, dfWMT), join = 'inner', keys = ['AAPL', 'AMZN', 'BMY', 'CHTR', 'CL', 'CMCSA', 'GOOG', 'JNJ', 'KO', 'LLY', 'META', 'MRK', 'MSFT', 'PEP', 'PFE', 'PG', 'T', 'TMUS', 'VZ', 'WMT'], axis = 1)

In [49]:
dfStocks = dfStocks.round(2)
dfStocks.head()

             AAPL                                             AMZN         \
             Open   High    Low  Close Adj Close     Volume   Open   High
Date
2019-10-24  61.13  61.20  60.45  60.90     59.23   69275200  88.55  89.42
2019-10-25  60.79  61.68  60.72  61.64     59.96   73477200  84.88  88.21
2019-10-28  61.86  62.31  61.68  62.26     60.56   96572800  87.40  88.93
2019-10-29  62.24  62.44  60.64  60.82     59.16  142839600  88.74  88.85
2019-10-30  61.19  61.33  60.30  60.81     59.15  124522000  88.01  89.12

                          ...     VZ                                WMT  \
              Low  Close  ...    Low  Close Adj Close    Volume    Open
Date                      ...
2019-10-24  88.01  89.04  ...  60.41  60.58     49.04  11143800  119.15
2019-10-25  84.75  88.07  ...  59.21  60.37     48.87  15036400  119.00
2019-10-28  87.12  88.85  ...  60.04  60.18     48.72  14621400  119.25
2019-10-29  87.79  88.14  ...  60.07  60.19     48.73  10619900  118.50
2019-10-30  87.96  89.00  ...  60.41  60.82     49.24  12136500  117.18


              High     Low   Close Adj Close   Volume
Date
2019-10-24  119.57  118.51  119.10    111.73  2900300
2019-10-25  119.33  118.20  119.04    111.68  2564300
2019-10-28  119.70  118.53  119.22    111.85  3404600
2019-10-29  118.73  117.08  117.15    109.91  4791100
2019-10-30  118.37  117.05  118.10    110.80  2996200

[5 rows x 120 columns]

In [50]:
dataset = dfStocks.join(dfIndexes)
dataset = pd.merge(dfStocks, dfIndexes, on = 'Date', how ='inner')

In [51]:
dataset

              AAPL                                                 AMZN  \
              Open    High     Low   Close Adj Close     Volume    Open
Date
2019-10-24   61.13   61.20   60.45   60.90     59.23   69275200   88.55
2019-10-25   60.79   61.68   60.72   61.64     59.96   73477200   84.88
2019-10-28   61.86   62.31   61.68   62.26     60.56   96572800   87.40
2019-10-29   62.24   62.44   60.64   60.82     59.16  142839600   88.74
2019-10-30   61.19   61.33   60.30   60.81     59.15  124522000   88.01
...            ...     ...     ...     ...       ...        ...     ...
2023-10-16  176.75  179.08  176.51  178.72    178.72   52517000  130.69
2023-10-17  176.65  178.42  174.80  177.15    177.15   57549400  130.39
2023-10-18  175.58  177.58  175.11  175.84    175.84   54764400  129.90
2023-10-19  176.04  177.84  175.19  175.46    175.46   59302900  130.57
2023-10-20  175.31  175.42  172.64  172.88    172.88   64189300  128.05

                                    ...       WMT             S&P500  \
              High     Low   Close  ... Adj Close   Volume      Open
Date                                ...
2019-10-24   89.42   88.01   89.04  ...    111.73  2900300  3,014.78
2019-10-25   88.21   84.75   88.07  ...    111.68  2564300  3,003.32
2019-10-28   88.93   87.12   88.85  ...    111.85  3404600  3,032.12
2019-10-29   88.85   87.79   88.14  ...    109.91  4791100  3,035.39
2019-10-30   89.12   87.96   89.00  ...    110.80  2996200  3,039.74
...            ...     ...     ...  ...       ...      ...       ...
2023-10-16  133.07  130.43  132.55  ...    161.21  4782700  4,342.37
2023-10-17  132.58  128.71  131.47  ...    161.42  3631000  4,345.23
2023-10-18  130.67  127.51  128.13  ...    161.54  3519700  4,357.35
2023-10-19  132.24  127.47  128.40  ...    160.77  3915300  4,321.36
2023-10-20  128.17  124.97  125.17  ...    158.76  5018900  4,273.85

                                             DJIA30                        \
                High       Low     Close       Open       High        Low
Date
2019-10-24  3,016.07  3,000.42  3,010.29  26,893.93  26,931.78  26,714.34
2019-10-25  3,027.39  3,001.94  3,022.55  26,789.61  27,015.37  26,765.68
2019-10-28  3,044.08  3,032.12  3,039.42  27,040.33  27,167.88  27,028.71
2019-10-29  3,047.87  3,034.81  3,036.89  27,061.07  27,165.94  27,039.76
2019-10-30  3,050.10  3,025.96  3,046.77  27,110.71  27,204.36  26,999.64
...              ...       ...       ...        ...        ...        ...
2023-10-16  4,383.33  4,342.37  4,373.63  33,832.42  34,088.98  33,832.42
2023-10-17  4,393.57  4,337.54  4,373.20  33,869.84  34,147.63  33,854.70
2023-10-18  4,364.20  4,303.84  4,314.60  33,960.25  33,991.51  33,598.64
2023-10-19  4,339.54  4,269.69  4,278.00  33,669.52  33,852.39  33,368.58
2023-10-20  4,276.56  4,223.03  4,224.16  33,365.27  33,425.77  33,118.12


                Close
Date
2019-10-24  26,805.53
2019-10-25  26,958.06
2019-10-28  27,090.72
2019-10-29  27,071.42
2019-10-30  27,186.69
...               ...
2023-10-16  33,984.54
2023-10-17  33,997.65
2023-10-18  33,665.08
2023-10-19  33,414.17
2023-10-20  33,127.28

[1005 rows x 128 columns]

# Data Processing
## Calculating relative indexes of each sector

Calculating relative index for tech stock

In [52]:
tech_stock_df = pd.concat((dataset.AAPL.Close,dataset.AMZN.Close,dataset.GOOG.Close,dataset.META.Close,dataset.MSFT.Close,dataset['S&P500'].Close),join = 'inner',keys=['AAPL','AMZN','GOOG','META','MSFT','S&P500'],axis=1)
tech_stock_df['TechIndex'] = 0.2*tech_stock_df.APPL+0.2*tech_stock_df.AMZN+0.2*tech_stock_df.GOOG+0.2*tech_stock_df.META+0.2*tech_stock_df.MSFT
tech_stock_df.head()

             APPL   AMZN   GOOG    META    MSFT    S&P500  TechIndex
Date
2019-10-24  60.90  89.04  63.05  186.38  139.94  3,010.29    107.862
2019-10-25  61.64  88.07  63.26  187.89  140.73  3,022.55    108.318
2019-10-28  62.26  88.85  64.50  189.40  144.19  3,039.42    109.840
2019-10-29  60.82  88.14  63.13  189.31  142.83  3,036.89    108.846
2019-10-30  60.81  89.00  63.06  188.25  144.61  3,046.77    109.146

Calculating relative index for pharma stock

In [53]:
pharma_stock_df = pd.concat((dataset.JNJ.Close,dataset.PFE.Close,dataset.MRK.Close,dataset.BMY.Close,dataset.LLY.Close),join = 'inner',keys=['JNJ','PFE','MRK','BMY','LLY'],axis=1)
pharma_stock_df['PharmaIndex'] = 0.2*pharma_stock_df.JNJ+0.2*pharma_stock_df.PFE+0.2*pharma_stock_df.MRK+0.2*pharma_stock_df.BMY+0.2*pharma_stock_df.LLY
pharma_stock_df.head()

               JNJ    PFE    MRK    BMY     LLY  PharmaIndex
Date
2019-10-24  127.50  34.53  78.80  54.37  107.84       80.608
2019-10-25  128.35  34.89  78.49  54.98  110.20       81.382
2019-10-28  129.18  35.37  78.44  55.59  112.99       82.314
2019-10-29  129.12  36.25  81.20  55.77  111.67       82.802
2019-10-30  132.84  36.51  82.27  56.87  112.72       84.242

Calculating relative index for telecom stock

In [54]:
telecom_stock_df = pd.concat((dataset['T'].Close,dataset.VZ.Close,dataset.TMUS.Close,dataset.CMCSA.Close,dataset.CHTR.Close),join = 'inner',keys=['T','VZ','TMUS','CMCSA','CHTR'],axis=1)
telecom_stock_df['TelecomIndex'] = 0.2*telecom_stock_df['T']+0.2*telecom_stock_df.VZ+0.2*telecom_stock_df.TMUS+0.2*telecom_stock_df.CMCSA+0.2*telecom_stock_df.CHTR
telecom_stock_df.head()

                T     VZ   TMUS  CMCSA    CHTR  TelecomIndex
Date
2019-10-24  27.81  60.58  81.48  44.84  435.07       129.956
2019-10-25  27.88  60.37  81.62  45.65  462.19       135.542
2019-10-28  29.07  60.18  82.39  45.44  467.09       136.834
2019-10-29  28.75  60.19  81.77  45.35  464.07       136.026
2019-10-30  28.85  60.82  83.27  44.69  468.78       137.282

Calculating relative index for FMCG stock

In [55]:
fmcg_stock_df = pd.concat((dataset.PG.Close,dataset.KO.Close,dataset.PEP.Close,dataset.WMT.Close,dataset.CL.Close),join = 'inner',keys=['PG','KO','PEP','WMT','CL'],axis=1)
fmcg_stock_df['FMCGIndex'] = 0.2*fmcg_stock_df.PG+0.2*fmcg_stock_df.KO+0.2*fmcg_stock_df.PEP+0.2*fmcg_stock_df.WMT+0.2*fmcg_stock_df.CL
fmcg_stock_df.head()

                PG     KO     PEP     WMT     CL  FMCGIndex
Date
2019-10-24  124.79  54.61  137.89  119.10  68.34    100.946
2019-10-25  123.25  53.75  136.64  119.04  68.41    100.218
2019-10-28  123.48  53.57  136.57  119.22  67.35    100.038
2019-10-29  123.60  53.41  136.08  117.15  67.92     99.632
2019-10-30  124.94  53.94  136.90  118.10  68.58    100.492

# Calculating Global Reindex

In [64]:
#need to work on this once we convert str to float
for i in range(0,len(tech_stock_df)):
    if i==0:
        tech_stock_df['TechGlobalReindex']  = tech_stock_df['S&P500'][0].astype(float)
    else:
        tech_stock_df['TechGlobalReindex'] = (tech_stock_df['TechGlobalReindex'][i-1] * tech_stock_df['S&P500'][i].astype(float))/tech_stock_df['S&P500'][i-1].astype(float)
tech_stock_df.head()

AttributeError: 'str' object has no attribute 'astype'

In [63]:
type(tech_stock_df['APPL'][0])

numpy.float64